<% provide(:title, 'Inicio') %>
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js" > <!--<![endif]-->
	<body>	
		<!-- SLIDER -->
		<div class="slider-wrapper">
		    <div id="slider" class="nivoSlider">
		        <img src="/images/dummies/slides/Pic1.jpg" alt=""  />
		        <img src="/images/dummies/slides/Pic2.jpg" alt="" />
		        <img src="/images/dummies/slides/Pic3.jpg" alt="" />
		        <img src="/images/dummies/slides/Pic4.jpg" alt="" />
		        <img src="/images/dummies/slides/Pic5.jpg" alt="" />
		        <img src="/images/dummies/slides/Pic6.jpg" alt="" />
		    </div>
		</div>
		<!-- ENDS SLIDER -->
				
		<!-- tagline -->
		<div class="tagline"><h1>GERMAINE DE CAPUCCINI</h1></div>
		<center><h1>Todos los productos</h1></center>

        <ul class="nav-categories cf">
        </ul>
        <!-- ENDS categories -->
        <!-- work list -->
        <ul class="work-list cf" id="filter-container">
        <% @products.each do |product|%>  
          <li>
            <a href="/products/<%=product.id%>" class="thumb" >
              <%= image_tag product.photo.url %>
              <div class="img-overlay">Ver producto</div>
            </a>
            <a href="/products/<%=product.id%>"  class="title"><%=product.name%></a>
          </li>
        <% end %>          
        </ul>
        <!-- ENDS work list --> 
  <Center><%= will_paginate @products, :previous_label => 'Anterior', :next_label => 'Siguiente' %></Center>
		<!-- ENDS tagline -->
	</body>
</html>
