<h1 class="heading"> Iniciar Sesion </h2>

<p>No tienes una cuenta? <%= link_to "Registrate!", signup_path %></p>

<%= form_tag sessions_path do %>
  <p>
    <%= label_tag :login, "Nombre de usuario o Email" %><br />
    <%= text_field_tag :login, params[:login] %>
  </p>
  <p>
    <%= label_tag :password, "Contraseña" %><br />
    <%= password_field_tag :password %>
  </p>
  <p><%= submit_tag "Iniciar Sesion", :class => "link-button"%></p>
<% end %>
