<% provide(:title, 'Todas las solicitudes') %>
<center>
<h1>Todas los solicitudes</h1>

<table >
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Celular</th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.cellphone %></td>
        <td><%= link_to 'Ver', contact %></td>
        <td><%= button_to 'Eliminar', contact, method: :delete, data: { confirm: 'Seguro de eliminar?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= will_paginate @contacts, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
<br>
</center>