<% provide(:title, 'Solicitud') %>
<div class="page-content">
<div class="entry-content -cf">

<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @contact.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.email %>
</p>

<p>
  <strong>Celular:</strong>
  <%= @contact.cellphone %>
</p>

<p>
  <strong>Comentarios:</strong>
  <%= @contact.commentaries %>
</p>

<%= link_to 'Volver', contacts_path %>
</div>
</div>
