<% provide(:title, @micropost.title) %>
<div class="page-content">
<div class="entry-content -cf">

<p id="notice"><%= notice %></p>
<p>
  <strong>Title:</strong>
  <%= @micropost.title %>
</p>


<p>
  <strong>Content:</strong>
  <%= @micropost.content %>
</p>

<p>
<br>
	<%= image_tag @micropost.photo.url(:medium) %>
</p>

<%= link_to 'Editar', edit_micropost_path(@micropost) %> |
<%= link_to 'Volver', microposts_path %>
</div>
</div>
