<% provide(:title, @micropost.title) %>
<p id="notice"><%= notice %></p>

<div id="posts-list" class="cf single-post"> 
					
					<article class="cf">
						<div class="feature-image">
							<%= image_tag @micropost.photo.url(:medium) %>
						</div>
						<div class="entry-title">
							<div class="meta"><%= @micropost.created_at.strftime("%d/%m/%Y") %> <a href="#" class="author">Por <%= User.find(@micropost.user_id).username%></a></div>
							<div class="post-heading" ><%= @micropost.title %></div>
						</div>
						<div class="excerpt entry-content">
							<p><%= @micropost.content %></p>
						</div>	
						<%if current_user%>
						<%= link_to 'Editar', edit_micropost_path(@micropost), :class=>"link-button blue" %> |
						<%= link_to 'Volver', microposts_path, :class=>"link-button" %>
						<%end%>
					</article>
					
				</div>
				<!-- ENDS post list -->

				<!-- SIDEBAR -->
        <aside id="sidebar">
        
          <ul>
            <li class="block">
              <h4 class="heading">ARCHIVOS</h4>
              <ul>
                <li class="cat-item"><a href="#" >Mayo 2014</a> (1)</li>
                <li class="cat-item"><a href="#" >Abril 2014</a> (2)</li>
                <li class="cat-item"><a href="#" >Marzo 2014</a> (6)</li>
                <li class="cat-item"><a href="#" >Febrero 2014</a> (12)</li>
              </ul>
            </li>
            
            <li class="block">
              <h4 class="heading">Noticias/Novedades</h4>
              
              <div class="small-posts-list ">
                
                <div class="post cf">
                  <a href="#" class="thumb"><img src="/images/dummies/54x54-a.jpg" alt="Post"></a>
                  <div class="post-head">
                    <a href="#">Pellentesque habitant morbi senectus </a><span class="meta"> Mar 12 <a href="#" >By ansimuz</a></span>
                  </div>
                </div>
                
                <div class="post cf">
                  <a href="#" class="thumb"><img src="/images/dummies/54x54-b.jpg" alt="Post"></a>
                  <div class="post-head">
                    <a href="#">Pellentesque habitant morbi senectus </a><span class="meta"> Mar 12 <a href="#" >By ansimuz</a></span>
                  </div>
                </div>
                
                <div class="post cf">
                  <a href="#" class="thumb"><img src="/images/dummies/54x54-c.jpg" alt="Post"></a>
                  <div class="post-head">
                    <a href="#">Pellentesque habitant morbi senectus </a><span class="meta"> Mar 12 <a href="#" >By ansimuz</a></span>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </aside>
        <!-- ENDS SIDEBAR -->