<% provide(:title, @micropost.title) %>
<div class="page-content">
<div class="entry-content -cf">

<p id="notice"><%= notice %></p>
<p>
  
  <CENTER><H1><%= @micropost.title %></H1></CENTER>
</p>

<br>
<p>
  <%= @micropost.content %>
</p>

<p>
<br>
	<CENTER><%= image_tag @micropost.photo.url(:medium) %></CENTER>
</p>

<%= link_to 'Editar', edit_micropost_path(@micropost), :class => "link-button blue" %> |
<%= link_to 'Volver', microposts_path, :class => "link-button" %>
</div>
</div>
