<h1>Productos</h1>

        <ul class="nav-categories cf">
        </ul>
        <!-- ENDS categories -->
        <!-- work list -->
        <ul class="work-list cf" id="filter-container">
        <% @products.each do |product|%>  
          <li>
            <a href="/products/<%=product.id%>" class="thumb" >
              <%= image_tag product.photo.url %>
              <div class="img-overlay">Ver producto</div>
            </a>
            <a href="/products/<%=product.id%>"  class="title"><%=product.name%></a>
          </li>
        <% end %>          
        </ul>
        <!-- ENDS work list --> 

        <!-- pager -->
        <ul class="pager cf">
          <li class="paged">Page 1 of 4 </li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
        </ul>
        <!-- ENDS pager -->
<%= link_to 'Crear Producto', new_product_path, :class=>"link-button green" %>
