<% provide(:title, 'Productos') %>
<h1>Productos</h1>


        <ul class="nav-categories cf">
        </ul>
        <!-- ENDS categories -->
        <!-- work list -->
        <ul class="work-list cf" id="filter-container">
        <% @products.each do |product|%>  
          <li>
            <a href="/products/<%=product.id%>" class="thumb" >
              <%= image_tag product.photo.url %>
              <div class="img-overlay">Ver producto</div>
            </a>
            <a href="/products/<%=product.id%>"  class="title"><%=product.name%></a>
          </li>
        <% end %>          
        </ul>
        <!-- ENDS work list --> 

      <%= will_paginate @products, :previous_label => 'Anterior', :next_label => 'Siguiente' %>
<center>
<%= link_to 'Crear Producto', new_product_path, :class=>"link-button green" %>
</center>
