<h1>Todos los productos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Categoria</th>
      <th>Marca</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.description %></td>
        <td><%= product.category.name %></td>
        <td><%= product.brand.name %></td>
        <td><%= link_to 'Ver', product %></td>
        <td><%= link_to 'Editar', edit_product_path(product) %></td>
        <td><%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Seguro de Eliminar el producto?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Producto', new_product_path %>
