<p id="notice"><%= notice %></p>
<div id="project-gallery">
					<div class="thumb" ><img src="img/dummies/slides/01.jpg" alt="Thumbnail" /></div>
					<div class="thumb" ><img src="img/dummies/slides/02.jpg" alt="Thumbnail" /></div>
					<div class="thumb" ><img src="img/dummies/slides/03.jpg" alt="Thumbnail" /></div>
				</div>
				
				<div id="project-info">
					<div id="project-title"><%= @product.name %></div>

					<blockquote ><%= @product.description %></blockquote>
					
					<p><%= @product.category %></p>
					
					<div id="project-sheet">
						<p><strong>Client</strong><br/>Mr. Tanaka</p>
						<p><strong>Date</strong><br/>Jan, 12 2012</p>
					</div>
				</div>
				
				<!-- related -->
				<div class="cf"></div>
				<div class="related-projects">
					<div class="related-heading">RELATED PROJECTS</div>
					<ul class="related-list cf">
						<li>
							<a href="#" class="thumb"><img src="img/dummies/f-01.jpg" alt="" /></a>
							<a href="#" class="heading">Pellentesque habitant morbi</a>
						</li>
						<li>
							<a href="#" class="thumb"><img src="img/dummies/f-02.jpg" alt="" /></a>
							<a href="#" class="heading">Pellentesque habitant morbi</a>
						</li>
						<li>
							<a href="#" class="thumb"><img src="img/dummies/f-03.jpg" alt="" /></a>
							<a href="#" class="heading">Pellentesque habitant morbi</a>
						</li>
					</ul>
				</div>
				<!-- ENDS related -->










<CENTER>
<p>
  
  <h1><%= @product.name %></h1>
</p>

<p>
  <strong>Descripcion:</strong><br>
  <%= @product.description %>
</p>

<p>
  <strong>Categoria:</strong><br>
  <%= @product.category.name %>
</p>

<p>
<br>
	<%= image_tag @product.photo.url(:medium) %>
</p>
<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Volver', products_path %>
</CENTER>