<% provide(:title, @product.name) %>

<div class="page-content">
<div class="entry-content -cf">
<% if notice %>
<p class="infobox-success"><%= notice %></p>
<%end%>

<div id="project-gallery">
					<div class="thumb" ><%= image_tag @product.photo.url %></div>
				</div>
				
				<div id="project-info">
					<div id="project-title"><%= @product.name %></div>

					<blockquote ><%= @product.description %></blockquote>
					
					<p><%= @product.category %></p>

					<div id="project-sheet">
						<%= link_to 'Editar', edit_product_path(@product) , :class=>"link-button blue"%>
						<%= link_to 'Volver', products_path , :class=>"link-button"%>
					</div>
				</div>
</div>
</div>
