<p id="notice"><%= notice %></p>
<CENTER>
<p>
  
  <h1><%= @product.name %></h1>
</p>

<p>
  <strong>Descripcion:</strong><br>
  <%= @product.description %>
</p>

<p>
  <strong>Categoria:</strong><br>
  <%= @product.category%>
</p>

<p>
<br>
	<%= image_tag @product.photo.url(:medium) %>
</p>
<%= link_to 'Editar', edit_product_path(@product) %> |
<%= link_to 'Volver', products_path %>
</CENTER>